@{
    ViewData["Title"] = "Demos";
    var pinta = (bool)ViewData["Pinta"];
    var rslt = pinta ? "Dice que pinte" : "No pinto nada";
}

<h1>Esto es una demo</h1>
<h2>Adiós @ViewData["Nombre"]</h2>
<p>Esto sería una parrafada</p>
<div>
    @rslt
</div>
@if (pinta) {
    <ul>
        @for (var i = 0; i < 10; i++) {
            <li>Dice que pinte @(i + 1)</li>
        }
    </ul>
} else {
    <div>No pinto nada, @ViewData["Nombre"]</div>
}

<div>
    @rslt
</div>